{
  "presets": [
    "es2015",
    [
      "env",
      {
        "targets": {
          "electron": "1.8"
        },
        "useBuiltIns": true
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-runtime",
    "dynamic-import-node"
  ]
}
